/*****************FONTS************/
@import url('https://fonts.cdnfonts.com/css/tourist-trap'); /*font-family: 'Tourist Trap', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/sf-automaton-condensed'); /*font-family: 'SF Automaton Condensed', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/graffiti-font'); /*font-family: 'Graffiti font', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/justfist'); /*font-family: 'justfist', sans-serif; or font-family: 'justfist2', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/sk8-or-dye'); /*font-family: 'Sk8 or dye', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/degrassi'); /* font-family: 'Degrassi', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/nosegrind'); /*font-family: 'Nosegrind Demo', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/good-dog'); /*font-family: 'GoodDog Plain', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/gadaquali');/*font-family: 'GADAQUALI', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/cofo-robert'); /*font-family: 'CoFo Robert', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/laila');  /*font-family: 'Laila', sans-serif;*/

                                                
                                                                                            
                                                


/* ##################################Text######################### */
a{
    text-decoration: none;
    color: white;
    padding-left: 8vw;
    margin-top: 3vh;
}

/******Hiphop text*******/
.musictext{
    color: white;
    font-size: 4vh;
    text-align: center;
    font-family: 'Laila', sans-serif;
}


/******Skatetext*******/


.tutorial{
    color:white;
    font-size: 10vh;
    margin-left: 2vw;
    margin-top: 1vh;
    font-family: 'justfist', sans-serif;
}

.skate-text{
    color:white;
    margin-left:3vw;
    margin-top: 0.5vh;
    font-size: 3vh;
    font-family: 'Laila', sans-serif;
}

.tricktext{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index:1;
    color: #fff;
    font-size: 2.5vw;
    margin-top: -7vh;
    margin-left: 3vw;
    font-family: 'Tourist Trap', sans-serif;
}
.skatebox-title{
    color:black;
    font-size:7vh;
    font-family: 'justfist', sans-serif;
}
   
.skatebox-text{
    color:black;
    font-size:2vh;
    margin-top: 8vh;
    font-family: 'Laila', sans-serif;
    position: absolute;
}
.astart{
    text-decoration: none;
    color: white;
    margin-top: 3vh;
    padding-left: 0px;
}


/*********Graff text**********/

.storimgundertitel{
    font-size: 4vh;
    color:rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 57vh;
    margin-left: 17vw;
    position: absolute;
    font-family: 'Laila', sans-serif;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 10px;
}

.info-undertext{
    font-size:3vh;
    padding: 2.5vw;
    position: absolute;
    padding-top: 80vh;
    padding-right: 30vw;
    font-family: 'Laila', sans-serif;
}
.info-undertext2{
    font-size:3vh;
    padding: 2.5vw;
    position: absolute;
    padding-top: 65vh;
    padding-right: 30vw;
    font-family: 'Laila', sans-serif;
}

/****clothing text**********/
.adidas-text{
    font-size:4vh;
    margin-right:27vw;
    color: rgb(0, 0, 0);
    font-family: 'Laila', sans-serif;
}

/****h(1,2,3),p********/
h1{
    font-size: 15vh;
    color: white;
    margin: 0px;
    margin-left: 1vw;
    
}

.starth1{
    font-size: 20vh;
    color:rgb(255, 255, 255);
    margin:0px;
    text-align: center;
    font-family: 'Tourist Trap', sans-serif;
}
.contenth1{
    margin-top: 2vh;
}
.graffitih1{
    font-size: 15vh;
    color:rgba(255, 255, 255, 0.849);
    margin-top: 40vh;
    margin-left: 6vw;
    padding-bottom: 4vh;
    padding-left: 3vh;
    position: absolute;
    z-index:5;
    font-family: 'Tourist Trap', sans-serif;
}
.graffitih1background{
    font-size: 15vh;
    color:rgba(211, 46, 46, 0.849);
    margin-top: 40vh;
    margin-left: 6vw;
    padding-bottom: 4vh;
    padding-left: 3vh;
    position: absolute;
    z-index:4;
    font-family: 'Tourist Trap', sans-serif;

}

h2{  
    font-size: 4vh;
    color: rgb(255, 255, 255);
    margin: 0px;
    text-align: center;
    font-family: 'Laila', sans-serif;
}

h3{
    font-size: 4vh;
    color: white;
    margin-top: 1vh;
    margin-left: -2vw;
    font-family: 'Graffiti font', sans-serif;
    
}
.starth3{
    font-size: 7vh;
    color: white;
}
.hiphoph3{
    font-size: 9vh;
    color: white;
    padding-bottom: 4vh;
    margin-top: 1vh;
    font-family: 'Nosegrind Demo', serif;
}
.clothingh3{
    font-size: 9vh;
    color: rgb(7, 3, 3);
    margin-top: 1vh;
    font-family: 'Sk8 or dye', serif;
}
.graffitih3{
    font-size: 7vh;
    height:15vh;
    padding:2.5vw;
    position: absolute;
    padding-top: 70vh;
    font-family: 'Nosegrind Demo', serif;
}
.secondgraffitih3{
    font-size: 7vh;
    height:15vh;
    padding-bottom:2.5vw;
    margin-left: 3vw;
    position: absolute;
    padding-top: 56vh;
    font-family: 'Nosegrind Demo', serif;
}

p{
    font-size: 5vh;
    color: white;
    margin: 0px;
}

.clothingp{
    font-family: 'Laila', sans-serif;
    font-size: 3vh;
    color: rgb(12, 7, 7);
    margin-left: 2vw;
}

body{
    margin: 0px;
}

/*#########################Gäller för startsida################*/
#startcontainer{
    display: grid;
    background-image: url(https://media.giphy.com/media/BhW85yDQ1TA3u/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 100%;
    grid-template-rows: 13vh 200vh 10vh;
    grid-template-areas: 
    'nav'
    'mn'
}

.contentnav{
    z-index: 10;
    grid-area:nav;
    display: flex;
    background-color:  rgba(0, 0, 0, 0.842);
    justify-content: space-between;
    flex-direction: row;
    padding-right: 3vw;
}

.hemikon{
    padding-top: 0.5vh;
    height: 7vh;
    width: 7vh;
}

.indexmain{
    grid-area: mn;
    display: grid;
    flex-direction: column;
}

.hometext{
    position: relative;
    top:10vh;
}

.footer{
    grid-area:foot;
    display: grid;
    display: flex;
    background:rgb(0, 0, 0);
}


#graffiticontainer{
    display: grid;
    background-color: rgb(24, 24, 24);
    grid-template-columns: 100%;
    grid-template-rows: 13vh auto 10vh;
    grid-template-areas: 
    'nav'
    'main'
    'foot'
}

.graffitimain{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 8vh;
    row-gap: 3vh; 
    transition: 0.9 ease;
}

.vit-linje{
    filter:none;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.829);
    width: 100%;
    height: 4vh;
    align-self: flex-end;
}
.storimg{
    display: flex;
    margin-top: -40vh;
    z-index: 5;
    height: 100vh;
    width: auto;
    margin-right: 0px;
    margin-left:-8vw;
    background-image: url(../img/rodastenen.jpg);
    background-size: cover;
    position: relative;
}

.kartarodasten{
    height: 60vh;
    width: 95vw;
    padding:2.5vw;
    margin-top:1vw;
    z-index: 2;
}

.graffitikarta{
    margin-top:5vh;
    width: 80vw;
    height: 50vh;
    margin-left: 5vw;
    z-index: 2;
}

.info-box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1vh;
    position: absolute;
    bottom: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 20vw;
    height: 5vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    transition: bottom 0.9s ease;
}

.second-info-box{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1vh;
    position: relative;
    bottom: 4vh;
    left: 46vw;
    z-index: 1;
    transform: translateX(-50%);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 20vw;
    height: 5vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    transition: bottom 0.9s ease;
}
  
.info-content {
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    position: absolute;
    bottom: 10vh;
    left: 9vw;
    transform: translateX(-50%);
    border-radius: 50px;
    width: 90vw;
    height: 110vh;
    background-color: #fff;
    transition: bottom 0.9s ease;
    pointer-events: none;
}

.second-info-content{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 10vh;
    left: 9vw;
    transform: translateX(-50%);
    border-radius: 50px;
    width: 90vw;
    height: 78vh;
    background-color: #fff;
    transition: bottom 0.9s ease;
    pointer-events: none;
}
.info-btn {
    z-index: 1;
    transition: bottom 0.9s ease;
}
.second-info-btn{
    transition: bottom 0.9s ease;
}
.info-box.active .info-content {
    opacity: 1;
    bottom: 9vh;
    pointer-events: auto;
}
.info-box.active {
    bottom: -95vh;
}
.second-info-box.active {
    bottom: -70vh;
}
.second-info-box.active .second-info-content {
    opacity: 1;
    bottom: 9vh;
    pointer-events: auto;
}

.downarrow {
    height:3vh;
    width: 3vh;
    transition: transform 0.5s;
}
.seconddownarrow {
    height:3vh;
    width: 3vh;
    transition: transform 0.5s;
}

.downarrow.active {
    transform: rotate(180deg);
}

.seconddownarrow.active {
    transform: rotate(180deg);
}


.info-img{
    position: absolute;
    height: 36vh;
    width: 28vw;
    margin-top: 72vh;
    margin-left: 60vw;
    border-bottom-right-radius: 40px ;
}

.graffbox{
    display: flex;
    margin-top: 10vh;
    z-index: 10;
    height: 80vh;
    width: 112.9%;
    margin-right: 0vw;
    margin-left:-8vw;
    background-image: url(../img/bergsjonn.jpg);
    background-size: cover;
    transition: 0.7s ease-in-out;
}

.move_this{
    transition: 0.9s ease;
}
.info-box.active ~ .graffbox {
    margin-top: 120vh;
}

.second-info-box.active ~ .move_this {
    margin-top: 70vh;
}





/*#####################Hiphop########################*/
#hiphopcontainer{
    display:grid;
    background-color: black;
    grid-template-columns: 100%;
    grid-template-rows: 13vh auto 10vh;
    grid-template-areas: 
    'nav'
    'main'
    'foot'
}

.hiphopmain{ 
    grid-area: main;
    flex-direction: column;
    gap: 5vh;
    padding-top: 40vh;
}

.consert{
    z-index: 1;
    position: absolute;
    width: 100%;
    height:100vh;
    margin-top: -29vh;
}

.vit-linje2{
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.829);
    width: 100%;
    height: 4vh;
    position: absolute;
    margin-top: 67vh;

}
.boxlayout{
    display: flex;
    position: relative;
    margin-top: 1vh;
    justify-content: center;
    flex-direction: column;
}
.boxlayout1{
    display: flex;
    position: relative;
    margin-top: 25vh;
    justify-content: center;
    flex-direction: column;
}

.title{
    margin-left: 60px;
    margin-top: 10vh;
}


.albumbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.album_layout{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    justify-content: flex-start;
    max-width: 25vw;
    z-index:2;
}

.playbutton{
    display: flex;
    position: absolute;
    align-self: center;
    justify-self: center;
    z-index: 1;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    margin-right: 13vw;
}
.spelknapp{
    z-index: 1;
    height: 15vh;
    width: 15vh;
    align-self: center;
    padding-top: 37vh;
}

.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 50vh;
}
  
.image {
    position: absolute;
    z-index: 1;
    max-width: 30vh;
    max-height: 30vh;
    top: 5vh;
    left: 8vw;
    transition: all 0.3s ease-in-out;
}
  
.image:nth-child(2){
    position: absolute;
    z-index: 2;
    max-width: 33vh;
    max-height: 33vh;
    top: 4vh;
    left: 12vw;
}
  
.image:nth-child(3) {
    position: absolute;
    z-index: 3;
    max-width: 36vh;
    max-height: 36vh;
    top: 3vh;
    left: 16vw;
}
  
.image:nth-child(4) {
    position: absolute;
    z-index: 4;
    max-width: 39vh;
    max-height: 39vh;
    top: 2vh;
    left: 21vw;
}
  
.image:nth-child(5) {
    position: absolute;
    z-index: 5;
    max-width: 41vh;
    max-height: 41vh;
    top: 1vh;
    left: 27vw;
}
  
.image:nth-child(6) {
    position: absolute;
    z-index: 6;
    max-width: 44vh;
    max-height: 44vh;
    left: 34vw;
    top: -1vh;
}

.image:hover {
    transform: translateY(-7vh);
}


.image.clicked {
    max-width: 50vh;
    max-height: 50vh;
    top: -2vh;
    left: 65vw; 
}
.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 50vh;
}
 
.image {
    position: absolute;
}

.displayimg{
    position: absolute;
}

.playsong{
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-right: 33vw;
    margin-top: 55vh;
}


#channel{
    z-index: 0;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#smallworld{
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

#azucar{
    z-index: 2;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

#something{
    z-index: 3;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

#snoop{
    z-index: 4;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

#run{
    z-index: 5;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}



/*********************Bilder**********************/
img{
    height: 50vh;
    width: 50vh;
    z-index:2;
}

img:hover{
    z-index:1;
}

img:hover .spelknapp{
    z-index:5;
}

.playbutton:hover{
    z-index:5;
}



/*                    Skate         */
#skatecontainer{
    display:grid;
    background-color: black;
    grid-template-columns: 100%;
    grid-template-rows: 13vh auto 10vh;
    grid-template-areas: 
    'nav'
    'main'
}

.skatemain{
    grid-area: main;
    position: relative;
    margin-top: 55vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 7vh;
}


.skatebox{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    justify-content: center;
    column-gap: 7vw;
}

.smalskatebox{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    height: 90vh;
    width: 40vw;
    row-gap: 10vh;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    padding-top: 3vh;
}

.skateinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -50vh;
    transform: transition 0.3s ease;
}
.skatekarta{
    z-index:1;
    width: 35vw;
    height:30vw;
    margin-top: -30vw;
}
.skateimg{
    z-index:2;
    width: 35vw;
    height:30vw;
    
}

.skateimg:hover{
    opacity: 0;
    z-index:0;
}

.skateimg:hover .skatekarta{
    z-index:4;
}

.skatekarta:hover{
    z-index:4;
}

.skatelist{
    z-index: 2;
    text-decoration: none;
    padding-left: 2vw;
    transition: all 0.3s ease-in-out;
}
.skatelist:hover{
    transform: translateY(-7vh);
    opacity: 0.5;
}

.smalskatebox {
    position: relative;
}

.skater{
    width: 10vh;
    height: 10vh;
    position: absolute;
    margin-top: 77vh;
    transition: transform 0.2 ease;
    z-index: 5;
}

.skater:hover{
    transform:rotate(-20deg)
}
  
.skatebox2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 3vh;
    background-color: rgb(2, 34, 12);
    width: 100%;
    height: 100vh;
}

.skatecontent{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5vh;
}

.skatepic{
    display:flex;
    flex-direction: column; 
    align-items: center;
}
.ollie{
    z-index: 2;
    width: 20vw;
    height: 60vh;
}
.kickflip{
    z-index: 2;
    width: 20vw;
    height: 60vh;
}
.powerslide{
    z-index: 2;
    width: 20vw;
    height: 60vh;
}
.shuvit{
    z-index: 2;
    width: 20vw;
    height: 60vh;
}



/****************************Clothing************************/
#clothingcontainer{
    display:grid;
    background-color: black;
    grid-template-columns: 100%;
    grid-template-rows: 13vh auto 10vh;
    grid-template-areas: 
    'nav'
    'clothingmain'
    'foot'
}

.clothingmain{
    grid-area: clothingmain;
}

.clothingbox{
    margin-top: -30vh;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2vh;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
}

.clothingbox-text{
    z-index:10;
    position: absolute;
    margin-top: 40vh;
    margin-left: 75vw;
    flex-wrap: wrap;
    width: 80vh;
}
.firstimg{
    width: 100vw;
    height:100vh;
    background-color: lightblue;
}
.secondimg{
    position: relative;
    width: 32vw;
    height: 32vw;
}


.camelpics{
    display: flex;
    position: absolute;
    margin-left: -32vw;
    margin-top: 32vh;
    flex-direction: row;
    column-gap: 2vw;
    z-index: 10;
}

.camel{
    height: 65vh;
    width: 20vw;
}
.adidas{
    position: relative;
    margin-top:72vh;
    display: flex;
    flex-wrap: wrap;
    padding: 2.5vw;
    background-color: rgb(229, 184, 142);
    height: 100vh;
}

.adidasskor{
    margin-left: 68vw;
    margin-top: -23vh;
}
.adidasoutfit1{
    margin-left: 1vw;
    margin-top: -20vh;
    height:45vh;
}
.adidasoutfit2{
    margin-left:3vw;
    margin-top: -5vh;
    width: 18vw;
}
.adidasoutfit3{
    margin-left: 3vw;
    width: 14vw;
    margin-top: -20vh;
} 
.star{
    position: relative;
    margin-right: -5vw;
    transition: 0.5s;
}

.star2{
    position: absolute;
    height: 10vh;
    width: 10vh;
    margin-top: 22vh;
    margin-left: 60vw;
    transition: 0.5s;
}
.star3{
    position: absolute;
    height: 13vh;
    width: 13vh;
    margin-left: 26vw;
    margin-top: 35vh;
    transition: 0.5s;
}

.star:hover{
    transform:rotate(90deg);
    z-index:5;
}
.star2:hover{
    transform:rotate(120deg);
    z-index:5;
}
.star3:hover{
    transform:rotate(120deg);
    z-index:5;
}
.platser{
    position: relative;
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5vw;
    background-color: rgb(180, 211, 180);
    padding: 2.5vw;
}

.shopping-box{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 5vh;
    padding-top: 5vh;
    background-image: url(../img/hue.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 70vh;
    width: 46vw;
    justify-content: center;
}
.shopping-karta{
    height: 30vw;
    width: 45vw;
}

.name-of-place{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 184, 66);
    height: 10vh;
    width: 70vh;
    margin-top: -10vh;
    z-index: 2;
    border-radius: 15px;
    font-size: 7vh;
    color: white;
    font-family: 'Degrassi', sans-serif;
}


  
/**********************MOBIL********************/
@media screen and (max-width: 600px){
    #startcontainer{
        background-image: url(https://media.giphy.com/media/BhW85yDQ1TA3u/giphy.gif);
        background-position: -300px,0;
        grid-template-rows: 10vh 100vh;
        background-image: cover;
        overflow-y: hidden;
        
    }
    .contentnav {
        flex-direction: row;
        align-items: center;
    }
    .hemikon{
        height: 4vh;
        width: 4vh;
        margin-left: 3vw;
    }
    
    a{
        text-decoration: none;
        color: white;
        padding-left: 3vw;
        margin-top: 3vh;
    }
    h1{
        font-size: 10vh;
    }
    .starth1{
        font-size: 8vh;
    }
    h2{
        font-size: 2vh;
    }

    h3 {
        margin-left: 2vw;
        margin-top: 1.5vh;
        font-size: 1vh;
        text-align: center;
    }

    /****hiphop for phone******/
    #hiphopcontainer{
        display:grid;
        background-color: black;
        grid-template-columns: max(100%);
        overflow-x:hidden;
        grid-template-rows: 10vh auto 10vh;
        grid-template-areas: 
        'nav'
        'main'
        'foot'
    }
    .hiphopmain{ 
        grid-area: main;
        flex-direction: column;
        gap: 5vh;
        padding-top: 40vh;
    }
    
    .consert{
        height:50vh;
        margin-top: -10vh;
        width: 100vw;
        overflow-x: hidden;
    }
    
    .vit-linje2{
        height: 2vh;
        margin-top: 38vh;
    }
    .boxlayout{
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-top: -10vh;
        justify-content: center;
        overflow-x: scroll;
        padding: 2vw;
    }
 
    .boxlayout1{
        margin-top: -40vh;
        z-index: -10;
        justify-content: flex-start;
        flex-direction: row;
    }
    
    .album_layout{
        display: flex;
        flex-direction: column;
        align-content: center;
        row-gap: 2vh;
        column-gap: 2vh;
        width: auto;
        height: 200px;
        margin-top:-5vh;
        z-index:4;

    }

    img{
        height:20vh;
        width:20vh;
    }
    
    .title{
        margin-left: 60px;
        margin-top: 10vh;
    }
    
    .musictext{
        color: white;
        font-size: 2vh;
        margin-left:4vw;
        text-align: center;
        text-align: center;
    }
    
    .albumbox{
        height: 330px;
        display: flex;
        margin-top: -5vh;
        column-gap: 100px;
        align-content: flex-start;
        flex-direction: row;
    }

    .image-container {
        position: relative;
        width: 100%;
        padding-bottom: 0vh;
        flex-direction: row;
    }


    .image {
        position: relative;
        z-index: 1;
        max-width: 30vh;
        max-height: 30vh;
        top: 0vh;
        left: 0vw;
    }
    
    
    .playbutton{
        display: flex;
        position: absolute;
        align-self: center;
        justify-self: center;
        z-index: 10;
        border-radius: 50%;
        width: 5vh;
        height: 5vh;
        margin-right: -12vw;
        margin-top: 12vw;
    }
    .spelknapp{
        height: 5vh;
        width: 5vh;
        align-self: center;
        margin-top: -35vh;
        position: relative;
    }
    
    .image-container {
        position: relative;
        width: 100%;
        padding-bottom: 50vh;
    }
    .hiphoph3{
        font-size: 35px;
        text-align: flex-start;
        padding-right: 40px;
    }


    /*************kläder mobil*************/
 /*************kläder mobil*************/
    #clothingcontainer{
        display:grid;
        background-color: black;
        grid-template-columns: 100%;
        grid-template-rows: 10vh auto 10vh;
        grid-template-areas: 
        'nav'
        'clothingmain'
        'foot'
    }

    .clothingh3{
        font-size: 4vh;
        text-align: center;
    }
    .clothingp{
        font-size: 2vh;
        margin-left: 0vw;
        text-align: center;
    }

    .clothingbox{
        row-gap: 0.5vh;
        height: 80vh;
    }

    .clothingbox-text{
        z-index:10;
        position: absolute;
        margin-top: 30vh;
        margin-left: 0vw;
        width: 60vh;
    }
    .firstimg{
        height:72vh;
    }
    .camelpics{
        margin-left:0;
        margin-top: 40vh;
    }
    .camel{
        height: 30vh;
        width: 30vw;
    }
    .adidas{
        margin-top:8vh;
        height: 60vh;
    }
    .adidasskor{
        margin-left: 50vw;
        margin-top: 3vh;
        height:20vh;
        width: 20vh;
        margin-top: 25vh;
        position: absolute;
    }
    .adidasoutfit1{
        margin-left: 1vw;
        margin-top: 25vh;
        height:20vh;
        width: 20vh;
        position: absolute;
    }
    .adidasoutfit2{
       opacity: 0;
       z-index: 0;
    }
    .adidasoutfit3{
        opacity: 0;
        z-index: 0;
    } 

    .adidas-text{
        font-size:2vh;
        margin-right:0vw;
        margin-top: 10vh;
        position: absolute;
    }
    .star{
        position: absolute;
        margin-top: 45vh;
        margin-left: 10vw;
    }

    .star2{
        position: absolute;
        height: 10vh;
        width: 10vh;
        margin-top: 45vh;
        margin-left: 35vw;
    }
    .star3{
        position: absolute;
        height:10vh;
        width: 10vh;
        margin-left: 60vw;
        margin-top: 45vh;
    }

    .star:hover{
        transform: none;
    }
    .star2:hover{
        transform: none;
    }
    .star3:hover{
        transform: none;
    }
    .platser{
        margin-top: 0.5vh;
        padding:3vw
    }

    .shopping-box{
        margin-top: 5vh;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 30vh;
        justify-content: center;
    }
    .shopping-karta{
        height: 30vw;
        width: 45vw;
    }

    .name-of-place{
        height: 6.5vh;
        margin-top: -7vh;
        font-size: 3vh;
        text-align: center;
    }

    /********Skate*****************/
    #skatecontainer{
        overflow-x: hidden;
        grid-template-columns: 90vw;
        grid-template-rows: 10vh auto 10vh;
        grid-template-areas: 
        'nav'
        'main'
    }
    .contentnav{
        z-index: 10;
        width:100vw;
        overflow-x: hidden;
        grid-area:nav;
        display: flex;
        background-color:  rgb(0, 0, 0);
        justify-content: space-between;
        flex-direction: row;
        padding-right: 3vw;
    }
    .skatebox{
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        padding-left: 5vw;
        margin-top: -210px;
        height: 65vh;

    }
    .skatebox-title{
        font-size:6vh;
    }
    .skatebox-text{
        padding-left: 3vw;
    }
    .smalskatebox{
        padding: 2vw;
        justify-content: center;
        height: 60vh;
        width: 90vw;
    }
    .skate-text{
        font-size: 5vw;
    }
    .skateimg{
        z-index:-10;
    }

    .skatekarta{
        width:80vw;
        height:60vw;
        padding-top: 20vh;
    }

    .skater{
        width: 5vh;
        height: 5vh;
        margin-top: 53vh;
    }
    .skatebox2{
        flex-wrap: nowrap;
        width: 100vw;
        height: 92vh;
        margin-top: 5px;
    }
    .skatecontent{
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: flex-start;

    }
    .tutorial{
        font-size: 8vh;
        align-self: center;
    }
   .ollie{
    width: 60vw;
    margin-top: -5vh;
   }
   .kickflip{
    width: 60vw;
    margin-top: -5vh;
   }
   .shuvit{
    width: 60vw;
    margin-top: -5vh;
   }
   .powerslide{
    width: 60vw;
    margin-top: -5vh;
   }
   .tricktext{
    font-size: 4vw;
    margin-top: 0vh;
    } 

    /**********Graffiti********/
    #graffiticontainer{
        display: grid;
        overflow-x: hidden;
        background-color: rgb(24, 24, 24);
        grid-template-columns: 100vw;
        grid-template-rows: 10vh auto 10vh;
        grid-template-areas: 
        'nav'
        'main'
        'foot'
    }
    .contentnav{
        z-index: 10;
        grid-area:nav;
        display: flex;
        background-color:  rgb(0, 0, 0);
        justify-content: space-between;
        flex-direction: row;
        padding-right: 3vw;
    }
    
   .graffitih1{
    overflow-x: hidden;
    font-size: 7.5vh;
    margin-left: 2vw;
   }
   .vit-linje{
    overflow-x: hidden;
   }
   .graffitih1background{
    font-size: 7.5vh;
    margin-left: 2vw;
   }
   .storimgundertitel{
    font-size: 2.5vh;
    margin-left: 13vw;
   }
   .storimg{
    overflow-x: visible;
    width:200vw;
    margin-left: -10vh;
    margin-top: -30vh;
   }
   .graffitimain{
    overflow-x: hidden;
    max-width: 100%;
    margin-top: 0vh;
   }
   .graffbox{
    overflow-x: hidden;
    width:200vw;
    margin-left: -10vh;
   }
   .second-info-box{
    margin-left: 40vw;
    row-gap: 0vh;
    bottom: 4vh;
    left: -5vw;
    z-index: 1;
    width: 34vw;
    height: 12vw;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 0;
    transition: bottom 0.9s ease;
   }
   .info-content{
    overflow-x: hidden;
    width:92vw;
    height: 120vh;
    margin-left: 8vw;
    margin-bottom: -8vh;
   }
   .info-box{
    width:34vw;
   }
   .info-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:12;
    background-color: white;
    margin-top:0vh;
    width:34vw;
    height:12vw;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
   }
   .second-info-content{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 5vh;
    left: 15vw;
    transform: translateX(-50%);
    border-radius: 50px;
    width: 95vw;
    height: 78vh;
    background-color: #fff;
    transition: bottom 0.9s ease;
    pointer-events: none;
    }
    .graffitih3{
        margin-left: 3vw;
        font-size: 25px;
    }
    .secondgraffitih3{
        font-size:25px;
    }
    .info-undertext{
        font-size: 15px;
        width:90vw;
        text-align:center;
        justify-self: center;
        margin-top: -5vh;
    }
    .info-undertext2{
        font-size: 15px;
        width:80vw;
        text-align:center;
        margin-left: 3vw;
        margin-top: -3vh;
    }
    .info-img{
       opacity:0;
    }
    .downarrow {
        margin-bottom:0vh;
        z-index: 20;
        height: 3vh;
        width: 3vh;
        transition: transform 0.5s;
    }
    .seconddownarrow {
        height:3vh;
        width: 3vh;
        transition: transform 0.5s;
    }
    .info-box.active {
        bottom: -85vh;
    }
    .second-info-box.active {
        bottom: -70vh;
    }
    .second-info-box.active .second-info-content {
        opacity: 1;
        bottom: 4vh;
        pointer-events: auto;
    }
    
}
